.menu-body {
    width: 100%;
    height: max-content;
    background-color: white;
    border: 1px solid none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.images-container {
    margin-top: 150px;
}

.menu {
    border: 1px solid none;
    width: 800px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.name-price {
    display: flex;
}

.ramen-price {
    margin-left: 10px;
}

.ramen-two {
    background-position: center center;
}